.detalles-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  gap: 18px;
}
.detalles-main__img {
  width: 280px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 20px;
}
.detalles-main__texto {
  text-align: center;
}
.detalles-main__button {
  width: 180px;
  height: 30px;
  border: none;
  background-color: var(--third);
  border-radius: 12px;
  font-family: var(--main-font);
  color: var(--secondary);
  font-weight: bold;
  border-bottom: 1px solid var(--primary);
}
