.detalles-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  gap: 18px;
}
.detalles-main__img {
  width: 280px;
  height: 350px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 20px;
}
.detalles-main__texto {
  text-align: center;
}
.detalles-main__button {
  width: 180px;
  height: 30px;
  border: none;
  background-color: var(--third);
  border-radius: 12px;
  font-family: var(--main-font);
  color: var(--secondary);
  font-weight: bold;
  border-bottom: 1px solid var(--primary);
}
.detalles-main__container-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:1200px) {
  body{
    height: 100vh;
  }
  .detalles-main{
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    height: calc(100% - 128px - 94px);/*100% del body menos alto del navbar y del footer*/
  }
  .detalles-main__container-text{
    max-width: 500px;
    background-color: var(--text-trans);
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    font-size: 1.4rem;
    gap: 30px;
    justify-content: center;
  }
  .detalles-main__nombre{
    font-weight: bold;
  }
  .detalles-main__button{

    height: 40px;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .detalles-main__button:active{

    height: 40px;
    font-size: 1.4rem;
    border-bottom: none;
    border-top: 1px solid var(--secondary);
  }
  .detalles-main__precio{
    font-weight: bold;
  }

  .detalles-main__img{
    width: 400px;
    height: 500px;
  }
}