
footer {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 12pt;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 10px 15px;
  gap: 15px;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
}

.footer__links a {
  text-decoration: none;
  color: var(--secondary);
}

.footer__links a:visited {
  color: var(--fourth);
}

.footer__social-media-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.footer__social-media-logo {
  width: 25px;
  height: 25px;
}
@media (min-width: 1200px) {
  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  .footer__links {
 flex-direction: row;
 align-items: center;
 font-size: 25px;
 gap: 30px;
  }
  .footer__social-media-links {
    gap: 40px;
  }
  .footer__social-media-logo {
    width: 40px;
    height: 40px;
  }
  
}

  
