img {
  width: 25px;
  height: 25px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--navFont);
}
.nav-container__header {
  font-size: 1rem;
}

.nav-container__header--bigCharacter {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.iconos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 700px) {
  .nav-container {
    padding: 40px 40px;
  }
  .nav-container__header {
    font-size: 2.5rem;
  }
  .nav-container__header--bigCharacter {
    font-size: 3rem;
  }
  img {
    width: 35px;
    height: 35px;
  }
  img:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  .iconos {
    gap: 50px;
  }
}
