@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

:root {
  --primary: #283044;
  --secondary: #ebf5ee;
  --third: #78a1bb;
  --fourth: #bfa89e;
  --fifth: #8b786d;
  --main-font: "Mukta";
  --navFont: "Holtwood One SC";
  --text-trans:#d9d9d99a;
}
